@charset "UTF-8";
html, body, span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

div, h1, h2, h3, h4, h5, h6, footer, header, dl, dt, dd, ol, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* _______________________form setting  */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

input, textarea, select, option, optgroup {
  vertical-align: middle;
  letter-spacing: 0em;
}

select {
  min-width: 2em;
}

option, optgroup {
  padding-right: 0.4em;
}

/* _______________________mouse cursor */
label[for],
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
select, option, button {
  cursor: pointer;
}

optgroup {
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

html, body {
  font-size: 62.5%;
}

#main {
  width: 96vw;
  max-width: 750px;
  margin: 0 auto;
}

.link_btn_fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.link_btn {
  width: 92%;
  max-width: 750px;
  margin: 40px auto 0;
}
.link_btn a {
  width: 100%;
  display: block;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
.link_btn a:hover {
  opacity: 0.8;
}

.filters {
  width: 80%;
  margin: 40px auto;
}
.filters .rare_list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin: 0 auto;
}
.filters .item {
  display: flex;
  border: 1px solid #ccc;
}
.filters .item.selected {
  border: 2px solid #000;
}
.filters .item.reset {
  width: 80%;
  margin: 0 auto;
}
.filters .item button {
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: 2px solid transparent;
  text-align: center;
  padding: 5px 0;
}
.filters .item button img {
  width: 100%;
}
.filters .item button:hover {
  opacity: 0.8;
}
.filters .item button span {
  font-size: 1.5rem;
}
.filters .color_list {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px auto 0;
}
.filters .color_list .item {
  width: 9.2%;
}
.filters .color_list .item button {
  text-align: center;
}
.filters .color_list .item button img {
  width: 80%;
}
.filters .color_list .item.reset {
  width: 100%;
}

.monsters {
  margin-bottom: 50px;
}
.monsters.all .item {
  opacity: 1;
}
.monsters .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.monsters .item {
  position: relative;
  opacity: 0.4;
}
.monsters .item img {
  width: 100%;
}
.monsters .item.checked {
  opacity: 1;
}
.monsters .item::before {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.monsters .item::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: url("../images/icon/icon-zoom.png") center center/100% no-repeat;
}
.monsters .item:hover {
  opacity: 0.5;
  cursor: zoom-in;
}

.search_name {
  display: block;
  width: 100%;
  max-width: 80%;
  font-size: 1.4rem;
  padding: 5px;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.select_pack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.select_pack button {
  position: relative;
  background-color: #3373BE;
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.select_pack a {
  position: relative;
  background-color: #3373BE;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.select_pack a:hover {
  opacity: 0.8;
}
.select_pack:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  /* ボタンの下に配置 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3373BE;
  /* 三角形の色をボタンの色と一致させる */
}
.select_pack .selected::after {
  content: "";
  position: absolute;
  bottom: -10px;
  /* ボタンの下に配置 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3373BE;
  /* 三角形の色をボタンの色と一致させる */
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* display: none; */
}
#modal .modal_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#modal .swiper {
  width: 100%;
  max-width: 500px;
  max-height: 84vh;
}
#modal .swiper img {
  width: 100%;
}
#modal .swiper-button-next, #modal .swiper-button-prev {
  color: #fff;
  /* ボタンの色を設定 */
  z-index: 10000;
  /* 他の要素の上に表示 */
  opacity: 1;
  /* ボタンの透明度を100%に */
  width: auto;
  top: 50%;
  /* ボタンを上下の中央に配置 */
  transform: translateY(-50%);
}
#modal .swiper-button-next {
  right: 5px;
  /* 画面右端に配置 */
}
#modal .swiper-button-prev {
  left: 5px;
  /* 画面左端に配置 */
}
#modal .modal_close {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10001;
}
#modal .modal_close::before,
#modal .modal_close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
}
#modal .modal_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
  /* バツの左上から右下の線 */
}
#modal .modal_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  /* バツの右上から左下の線 */
}

@media (min-width: 751px) {
  .select_pack button {
    width: calc(96% / 6);
    margin-bottom: 0;
  }

  #modal .swiper {
    width: 80%;
    height: auto;
    max-height: 100svh;
  }
  #modal .swiper-slide {
    width: auto;
  }
  #modal .modal_close {
    top: 20px;
    right: 20px;
  }
  #modal .swiper-button-next,
  #modal .swiper-button-prev {
    position: fixed;
  }
  #modal .swiper-button-next {
    right: 50px;
    /* 画面右端に配置 */
  }
  #modal .swiper-button-prev {
    left: 50px;
    /* 画面左端に配置 */
  }
}
