<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script src="https://unpkg.com/vue@3"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div id="app">
        <main id="main">
            <!-- <div class="info">
                <div class="search">
                    <input class="search_name" type="text" placeholder="モンスター名で検索" v-model="searchQuery">
                </div>
            </div> -->
            <div class="filters">
                <ul class="list">
                    <li class="item" v-for="filter in filters" :key="filter.value">
                        <button 
                            @click="toggleFilter(filter.value)"
                            :class="{ selected: isSelected(filter.value) }"
                        >
                            <img v-if="filter.image" :src="filter.image" alt="">
                            <span v-else>{{ filter.label }}</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="monsters">
                <ul class="list">
                    <li v-for="(item, index) in filteredItems" :key="item.ID" class="item" @click="openModal(index)">
                        <img 
                            :src="'./images/' + item.image" 
                            :alt="item.name"
                            :loading="index >= 9 ? 'lazy' : undefined"
                        >
                    </li>
                </ul>
            </div>
            <div class="link_btn_fixed">
                <div class="link_btn">
                    <a href="./possession/">所持チェッカー</a>
                </div>
            </div>
    
            <!-- モーダル -->
            <div id="modal" v-if="isModalOpen">
                <div class="modal_inner">
                    <div class="overlay" @click="closeModal"></div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item, index) in filteredItems" :key="index">
                                <img :src="'./images/' + item.image" :alt="item.name">
                            </div>
                        </div>
                        <!-- ナビゲーションボタン -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="modal_close" @click="closeModal"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    items: [],           // カードデータを格納する配列
                    searchQuery: '',     // 検索クエリ
                    isModalOpen: false,  // モーダルの表示フラグ
                    currentIndex: 0,     // 現在表示しているスライドのインデックス
                    selectedFilters: [],   // 選択中のフィルタ（配列）
                    filters: [
                        { value: '1', image: './images/filter/d1.png' },
                        { value: '2', image: './images/filter/d2.png' },
                        { value: '3', image: './images/filter/d3.png' },
                        { value: '4', image: './images/filter/d4.png' },
                        { value: '5', image: './images/filter/s1.png' },
                        { value: '6', image: './images/filter/s2.png' },
                        { value: '7', image: './images/filter/s3.png' },
                        { value: '8', image: './images/filter/crown.png' },
                        { value: '9', label: 'PROMO' },
                        { value: 'all', label: '全てを表示' }
                    ]
                };
            },
            computed: {
                filteredItems() {
                    if (this.selectedFilters.length === 0 || this.selectedFilters.includes('all')) {
                        return this.items; // フィルタ未選択または「リセット」の場合、全アイテム表示
                    }
                    return this.items.filter(item => 
                        this.selectedFilters.some(rare => item.rare.includes(rare))
                    );
                }
            },
            methods: {
                async fetchData() {
                    try {
                        const response = await fetch('./api/cards.php');
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        this.items = await response.json();
                    } catch (error) {
                        console.error('Failed to fetch data', error);
                    }
                },
                openModal(index) {
                    this.currentIndex = index;
                    this.isModalOpen = true;
                    this.$nextTick(() => {
                        new Swiper('.swiper', {
                            loop: true,
                            initialSlide: index,
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                            spaceBetween: 20,
                        });
                    });
                },
                closeModal() {
                    this.isModalOpen = false;
                },
                toggleFilter(filterValue) {
                    if (filterValue === 'all') {
                        this.selectedFilters = []; // 「リセット」ボタンなら選択解除
                    } else {
                        if (this.selectedFilters.includes(filterValue)) {
                            this.selectedFilters = this.selectedFilters.filter(f => f !== filterValue); // 解除
                        } else {
                            this.selectedFilters.push(filterValue); // 追加
                        }
                    }
                },
                isSelected(filterValue) {
                    return this.selectedFilters.includes(filterValue);
                }
            },
            mounted() {
                this.fetchData();
            }
        }).mount('#app');
    </script>
</body>
</html>
