<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script src="https://unpkg.com/vue@3"></script>

    <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
  <div id="app">
    <main id="main">
      <div class="filters">
        <ul class="rare_list">
          <li class="item" v-for="(rareF, index) in rareFilters" :key="index">
            <button @click="filterItems($event, rareF.criteria, 'filterRare')">
              <img v-if="rareF.image" :src="rareF.image" alt="">
              <span v-else>{{ rareF.label }}</span>
            </button>
          </li>
        </ul>
        <ul class="color_list">
          <li class="item" v-for="(typeF, index) in typeFilters" :key="index">
            <button @click="filterItems($event, typeF.criteria, 'filterType')">
              <img v-if="typeF.image" :src="typeF.image" alt="">
              <span v-else>{{ typeF.label }}</span>
            </button>
          </li>
        </ul>
        <div class="pack_search_wrap">
          <div class="pack_list">
            <select name="" id="" v-model="selectedPack">
              <option value="">パックを選択</option>
              <option v-for="(pack, index) in packFilters" :key="index" :value="pack.criteria">
                {{ pack.name }}
              </option>
            </select>
          </div>
          <div class="search">
              <input class="search_name" type="text" placeholder="モンスター名で検索" v-model="searchQuery">
          </div>
        </div>
        <ul class="list">
          <li class="item reset">
            <button @click="filterItems($event, 'all')"><span>リセット</span></button>
          </li>
       </ul>
      </div>
      <div class="monsters all">
        <ul class="list">
          <li v-for="(item, index) in filteredItems" :key="item.ID" class="item" @click="openModal(index)">
            <img 
              :src="'./images/' + item.image" 
              :alt="item.name"
              :loading="index >= 9 ? 'lazy' : undefined"
            >
          </li>
        </ul>
      </div>

      <div class="link_btn_fixed">
        <div class="link_btn">
          <a href="./possession/">所持チェッカー</a>
        </div>
      </div>

      <!-- モーダル -->
      <div id="modal" v-if="isModalOpen">
        <div class="modal_inner">
          <div class="overlay" @click="closeModal"></div>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(item, index) in filteredItems" :key="index">
                <img :src="'./images/' + item.image" :alt="item.name">
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="modal_close" @click="closeModal"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- Swiper CDN -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script>
    const { createApp, ref, watch, onMounted, nextTick } = Vue

    createApp({
      setup() {
        const items = ref([]);
        const filteredItems = ref([]);
        const selectedRare = ref();
        const selectedType = ref();
        const selectedPack = ref('');
        const searchQuery = ref(); // 検索クエリを保持するデータプロパティ
        const isModalOpen = ref(false);
        const currentIndex = ref(0);
        

        const rareFilters = [
          { criteria: '1', image: './images/filter/d1.png' },
          { criteria: '2', image: './images/filter/d2.png' },
          { criteria: '3', image: './images/filter/d3.png' },
          { criteria: '4', image: './images/filter/d4.png' },
          { criteria: '5', image: './images/filter/s1.png' },
          { criteria: '6', image: './images/filter/s2.png' },
          { criteria: '7', image: './images/filter/s3.png' },
          { criteria: '10', image: './images/filter/dc1.png' },
          { criteria: '11', image: './images/filter/dc2.png' },
          { criteria: '8', image: './images/filter/crown.png' },
          { criteria: '9', label: 'PROMO' },
        ]

        const typeFilters = [
          { criteria: '1', image: './images/filter/type1.png' },
          { criteria: '2', image: './images/filter/type2.png' },
          { criteria: '3', image: './images/filter/type3.png' },
          { criteria: '4', image: './images/filter/type4.png' },
          { criteria: '5', image: './images/filter/type5.png' },
          { criteria: '6', image: './images/filter/type6.png' },
          { criteria: '7', image: './images/filter/type7.png' },
          { criteria: '8', image: './images/filter/type8.png' },
          { criteria: '9', image: './images/filter/type9.png' },
          { criteria: '10', image: './images/filter/type10.png' },
        ]

        const packFilters = [
          { criteria: '7', name: '双天の守護者' },
          { criteria: '6', name: 'シャイニングハイ' },
          { criteria: '5', name: '超克の光' },
          { criteria: '4', name: '時空の激闘' },
          { criteria: '3', name: '幻のいる島' },
          { criteria: '2', name: '最強の遺伝子' },
          { criteria: '1', name: 'PROMO' },
        ]

        const fetchData = async () => {
          try {
            const response = await fetch('./api/cards.php');
            if (!response.ok) throw new Error('Network response was not ok');
            const data = await response.json();
            items.value = data;
            filterItems(null, 'all');
          } catch (error) {
            console.error('Failed to fetch data', error);
          }
        }

        const filterItems = (event, criteria, value='') => {
          if (event) {
            // 押されたボタンに一番近い li.item を探す
            const clickedItem = event.target.closest('.item');
            if (!clickedItem) return; // 万が一itemじゃないとき安全に抜ける

            // どっちのリストかを判定
            const parentList = clickedItem.closest('ul');

            if (parentList.classList.contains('rare_list')) {
              // listグループの時
              const items = parentList.querySelectorAll('.item');
              items.forEach(item => item.classList.remove('selected'));
              clickedItem.classList.add('selected');
            } else if (parentList.classList.contains('color_list')) {
              // color_listグループの時
              const items = parentList.querySelectorAll('.item');
              items.forEach(item => item.classList.remove('selected'));
              clickedItem.classList.add('selected');
            }
          }

          if (criteria === 'all') {
            filteredItems.value = items.value;
          }
          // rareかtypeかpackに応じて、条件をセット
          if (value === 'filterRare') {
            selectedRare.value = criteria;
          } else if (value === 'filterType') {
            selectedType.value = criteria;
          } else if (value === 'filterPack') {
            // 選択されたパックは selectedPack に入っているのでここでは何もしない
            selectedPack.value = criteria;
          } else if (criteria === 'all') {
            selectedRare.value = '';
            selectedType.value = '';
            selectedPack.value = '';

            // すべての .selected を外す
            const selectedElements = document.querySelectorAll('.filters .item.selected');
            selectedElements.forEach(el => el.classList.remove('selected'));
          }
          // 条件両方でフィルタ
          let filtered = items.value.filter(item => {
            const matchRare = selectedRare.value ? item.rare === selectedRare.value : true;
            const matchType = selectedType.value ? item.type === selectedType.value : true;
            const matchPack = selectedPack.value ? item.display_pack == selectedPack.value : true;            
            return matchRare && matchType && matchPack;
          });
          // さらに名前で絞り込み
          if (searchQuery.value) {
            filtered = filtered.filter(item => item.name.includes(searchQuery.value));
          }

          filteredItems.value = filtered;
        }

        watch(selectedPack, () => {
          filterItems(null, ''); //selectedPackが変わったらフィルターを再実行
        });

        watch(searchQuery, () => {
          filterItems(null, ''); // 検索入力が変わるたびにフィルター再実行
        });

        const openModal = (index) => {
          currentIndex.value = index;
          isModalOpen.value = true;

          nextTick(() => {
            new Swiper('.swiper', {
              loop: true,
              initialSlide: index,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              spaceBetween: 20,
            })
          })
        }

        const closeModal = () => {
          isModalOpen.value = false;
        }

        onMounted(() => {
          fetchData();
        })

        return {
          items,
          filteredItems,
          isModalOpen,
          currentIndex,
          rareFilters,
          typeFilters,
          selectedPack,
          packFilters,
          filterItems,
          openModal,
          closeModal,
          searchQuery,
        }
      }
    }).mount('#app');
  </script>
</body>
</html>

</html>